body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#chain-wrapper {
  position: relative;
  height: 300px;
  width: 500px;
  overflow-x: scroll;
}

#chain {
  position: absolute;
  bottom: 0
}

#chain p {
  border: 1px solid #00B7FF;
  border-radius: 15px;
  padding: 10px;
}

#chain .chch {
  margin-left: 50px;
}

#chain .user {
  margin-right: 50px;
}

/* Graphing */
.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis--x path {
  display: none;
}

.posline {
  fill: none;
  stroke: green;
  stroke-width: 1.5px;
}

.negline {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}
